@import "../variables";

.main-header {
  margin: 3rem 0 2rem 0;
  @extend %normal-500-20-24;
  border-bottom: 1px solid #DEDBDC;

  h2 {
    margin: 0 0 10px 0;
  }
}

.search {
  margin: 2.3rem 0 2.4rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-blogs {
  height: 36px;
  flex-basis: 71%;
  border: 1px solid #DEDBDC;
  border-radius: 2px;
  @extend %normal-400-14-24;
}

select {
  flex-basis: 28%;
  border: 1px solid #DEDBDC;
  border-radius: 2px;
  height: 36px;

  option {
    height: 36px;
    @extend %normal-400-14-24;
  }
}
